@font-face {
    font-family: 'manropebold';
    src: url('webfontkit-20201022-085625/manrope-bold-webfont.woff2') format('woff2'),
        url('webfontkit-20201022-085625/manrope-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manropeextrabold';
    src: url('webfontkit-20201022-085625/manrope-extrabold-webfont.woff2') format('woff2'),
        url('webfontkit-20201022-085625/manrope-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manropeextralight';
    src: url('manrope-extralight-webfont.woff2') format('woff2'),
        url('manrope-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manropelight';
    src: url('manrope-light-webfont.woff2') format('woff2'),
        url('manrope-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manropemedium';
    src: url('webfontkit-20201022-085625/manrope-medium-webfont.woff2') format('woff2'),
        url('manrope-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manroperegular';
    src: url('webfontkit-20201022-085625/manrope-regular-webfont.woff2') format('woff2'),
        url('webfontkit-20201022-085625/manrope-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'manropesemibold';
    src: url('manrope-semibold-webfont.woff2') format('woff2'),
        url('manrope-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    background-color: white;
    font-family: manroperegular;
}

#text {
    font-family: manroperegular;
}



.some {
    margin-bottom: 1px;
}

section .row {
    margin-left: 0;
    margin-right: 0;
}

section .some {
    margin-bottom: 1px;
}

section .h2 {
    font-family: manropeextrabold;
    font-size: calc(0.6rem + 0.4vw);
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

section .dot {

    font-size: calc(2rem + 0.4vw);
    font-weight: 900;
}

.border-intro {
    border-left: 2px solid #5C6B57;
}



.hide {
    opacity: 0;
}

.row > * {
    flex-shrink: 0;
    /*    width: 100%;*/
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}

.img-fluid {}

.img-padding {
    padding: 1px;
}

p {
    margin-bottom: 0px;
}

footer p:nth-child(1) {
    font-size: calc(0.5rem + 0.4vw);
}

footer p:nth-child(2) {
    font-size: calc(0.4rem + 0.4vw);
}

#footer_work .linkedin {
    text-decoration: none;
    color: white;
}

#footer_work div {
    margin: 0 1.5px 0 1.5px;
}

b {
    font-family: manropeextrabold;
}


#door .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7),
.img-fluid:nth-child(10) {
    padding-left: 0;
}

#door .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9),
.img-fluid:nth-child(12) {
    padding-right: 0;
}


#singles_1 .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7),
.img-fluid:nth-child(10) {
    padding-left: 0;
}

#singles_1 .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9),
.img-fluid:nth-child(12) {
    padding-right: 0;
}


#lady .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7),
.img-fluid:nth-child(10) {
    padding-left: 0;
}

#lady .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9),
.img-fluid:nth-child(12) {
    padding-right: 0;
}


#singles_2 .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7),
.img-fluid:nth-child(10) {
    padding-left: 0;
}

#singles_2 .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9),
.img-fluid:nth-child(12) {
    padding-right: 0;
}


#forest .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7) {
    padding-left: 0;
}

#forest .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9) {
    padding-right: 0;
}

#kort .img-fluid:nth-child(3),
.img-fluid:nth-child(6) {
    padding-right: 0;
}

#kort .img-fluid:nth-child(1),
.img-fluid:nth-child(4) {
    padding-left: 0;
}

#grafik .img-fluid:nth-child(4) {
    padding-right: 0;
    padding-left: 1px;
}

#grafik .img-fluid:nth-child(1) {

    padding-left: 0;
}

#kalender .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7),
.img-fluid:nth-child(10) {
    padding-left: 0;
}

#kalender .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9),
.img-fluid:nth-child(12) {
    padding-right: 0;
}


#kalender_2 .img-fluid:nth-child(1),
.img-fluid:nth-child(4),
.img-fluid:nth-child(7) {
    padding-left: 0;
}

#kalender_2 .img-fluid:nth-child(3),
.img-fluid:nth-child(6),
.img-fluid:nth-child(9) {
    padding-right: 0;
}







#intro .img-fluid {
    padding: 0;

}

.opacity {
    opacity: 1;
    transition: 1s ease;
}







.overlay_1 {
    transform: scale(1.1);
    border: 2px solid black;
    padding: 0;
}

.overlay_2 {


    padding: 0;
}

.overlay_3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: black;

    border: 2px solid white;
    z-index: 1
}

.container_overlay {
    position: relative;

}

.container_overlay:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: black;
    transform: scale(1.1);
    border: 2px solid white;
    z-index: 1
}

button {
    /*    border: 1px solid white;*/
    border: none;
    background-color: transparent;
    color: white;
    font-size: calc(0.3rem + 0.6vw);
    text-align: left;
    line-height: 1.2;
}

.bg-dark {
    background-color: black !important;
    border: 1px solid white;
}

nav {
    letter-spacing: 0.5px;


}

.navbar-toggler {
    padding: .25rem 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: 400;
    /*    border-left: 1px solid white;*/
    font-size: calc(0.7rem + 0.3vw);
}

.navbar {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#accordion {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

sup {
    top: -.3em;
}

.arrow_space {
    letter-spacing: 5px;
    transition: 1s ease-out;
    font-weight: 900;
}

#copyright a {
    font-weight: 200;
    border: 0;
    font-size: calc(0.5rem + 0.4vw);

}

span {
    font-size: calc(0.5rem + 1vw);
}


.line-spacing {
    animation: line-spacing 3s infinite;
}

@keyframes line-spacing {
    0% {
        letter-spacing: 1px;
    }

    50% {
        letter-spacing: 2px;
    }

    100% {
        letter-spacing: 1px;
    }
}

.text {
    line-height: 5px;
}





section a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: calc(0.7rem + 0.4vw);
    font-weight: 200;
    transition: 0.5s ease;
    font-family: manroperegular;
}

section a:hover {
    color: white;
}

.some a:hover {
    color: white;
}


section p {
    font-size: calc(0.6rem + 0.4vw);
}











.card-body {
    padding: 0;
    background-color: black;
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: #5C6B57;
    border-bottom: 0;
}



section {
    margin-left: 1px;
    margin-right: 1px;

}

h1 {
    margin: 0;
    font-size: calc(0.5rem + 1vw);
    font-family: manropeextrabold;
}

.web_story {
    font-size: 1rem;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*    background-color: #B6450F;*/
    /*    background-color: #507b3e;*/
    background-color: #5C6B57;
    background-clip: border-box;
    border: 0;
    border-radius: 0;
    /*    margin-bottom: 1px;*/


    font-family: helvetica;
    color: white;
}

.card h5 {
    text-transform: uppercase;
}

.card:first-child {
    margin-top: 1px;
}

.card:nth-child(2) {
    margin-top: 2px;
}

.card:nth-child(3) {
    margin-top: 2px;
    margin-bottom: 1px;
}


section p {
    margin-top: 1rem;
    font-family: manroperegular;
}



footer {
    background-color: black;
    color: white;
    font-family: manroperegular;
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin-top: 1px;

    font-size: calc(0.6rem + 0.4vw);
}





sup {
    top: -.2em;
    color: white;
}

.some a:nth-child(2),
a:nth-child(3) {
    font-size: calc(0.6rem + 0.4vw);
    letter-spacing: 0;
    font-weight: 400;
    text-decoration: none;
}

.instacolor {
    color: #E26D92;
}

.facecolor {
    color: #4966AA;
}

/*
#feed .feed1 {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: manropemedium;

    font-size: calc(0.7rem + 0.3vw);

}
*/
